<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="connection" connectionString="data source=DESKTOP-172MS9E;initial catalog=erationcard;integrated security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>